{% extends 'tictactoe/layout.html' %}
{% block body %}
    <div class="parent" id="game_board">
        <div id="00" class="child" value=""></div>
        <div id="01" class="child" value=""></div>
        <div id="02" class="child" value=""></div>
        <div id="10" class="child" value=""></div>
        <div id="11" class="child" value=""></div>
        <div id="12" class="child" value=""></div>
        <div id="20" class="child" value=""></div>
        <div id="21" class="child" value=""></div>
        <div id="22" class="child" value=""></div>
    </div>
{% endblock %}