{% extends 'tictactoe/layout.html' %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <p class="{{message.tags}}">{{message}}</p>
        {% endfor %}
    {% endif %}
    
    <h2 id="title">Log In Form</h2>
    <div class="container">
        <form method="post" action="{% url 'log_in' %}">
            {% csrf_token %}
            
                <div class="form-group">
                    {{form}}
                </div>
                <input type="submit" class="btn btn-success" value="Log In">
        
        </form>
        Do you foreget your password? Click here <a href="{% url 'password_reset' %}" id="forpass">forget password</a>
    </div>

    
{% endblock %}